<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HH.Host" value="" />
    <add key="HH.AuthHost" value="" />
    <add key="HH.Login" value="" />
    <add key="HH.Password" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>